.product-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  border:1px solid black;
  width: 200px;
  height: 300px;
}

.withActions{
  display: flex;
  margin:0 20px 0 10px;
  align-self: flex-end;
  gap: 10px;
}

.productImg{
  margin-top: 10px;
  max-width: 100%;
  max-height:40%;
  object-fit: contain;
}
.product-desc{
  width:100%;
  padding: 0 10px;
}

.product-desc > p {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.delete-and-like-container{
  display: flex;
  width: 92%;
  justify-content: flex-end;
  gap: 5px;
}
