<div style="margin: 0 auto;display: flex;gap: 20px;flex-wrap: wrap;width: 60%">
  <button (click)="sort()"  style="height: 100px;width: 150px">Sort by rating</button>
  <ng-container *ngFor="let product of products">
    <app-product
      [productName]="product.productName"
      [productDescription]="product.productDescription"
      [productRating]="product.productRating"
      [productImg]="product.productImg"
      [linkToTheProduct]="product.linkToTheProduct"
    ></app-product>
  </ng-container>
</div>
