.album-card{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album-card-container{
  display: flex;
  gap: 10px;
  flex-direction: column;

}

.album-card-container > input{
  height: 40px;
}
